# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
yolov8n_TRT.engine
test_detection_2023-06-20_10-35-58.avi

track_count/build
yolov8n_500.engine
src/test_1.mp4
src/test_2.mp4
src/video_presentation_2.avi
src/video_presentation.avi
